# Ignore editor directories
**/.vs/**
**/.vscode/**

# Ignore user specific files
*.suo
*.user

# Ignore build result directories
**/[Dd]ebug/**
**/[Rr]elease/**
**/[Bb]in/**
**/[Oo]bj/**

# Ignore build results
*.obj
*.pdb
*.exe
*.dll

# Ignore installer files
*.msi
*.cab

# Ignore generated directories and files
**/Generated/**

# Ignore test coverage results
**/TestCoverage/**
**/TestResults/**

# Ignore Doxygen directories
**/html/**
**/latex/**
